@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root{
    --vanter-background: #000000;
    --vanter-primary-text-color: #f4f4f5;
    --vanter-secondary-text-color: #4ade80;
    --vanter-font-code: "JetBrains Mono", monospace;
    --vanter-border-color: #ffffff;

}

@media (prefers-color-scheme: light) {
  :root {
    --vanter-background: #ffffff;
    --vanter-primary-text-color: #18181b;
    --vanter-secondary-text-color: #4ade80;
    --vanter-font-code: "JetBrains Mono", monospace;
    --vanter-border-color: #000000;
  }
}

@theme {
  --color-vanter-bg: var(--vanter-background);
  --color-vanter-primary-text: var(--vanter-primary-text-color);
  --color-vanter-secondary-text: var(--vanter-secondary-text-color);
  --font-vanter-code: var(--vanter-font-code);
  --border-vanter: var(--vanter-border-color);
}