---
import '../styles/global.css';
---

<div class="w-full h-15 flex items-center justify-between border-b-2 border-gray-800 p-4">
    <div class="flex items-center gap-4 ">
        <img class="rounded-lg size-10" 
        src="/vanter-tech_logo.webp" alt="Vanter Tech Logo">
        <h2 class="font-code text-2xl font-semibold text-white">VANTER-TECH</h2>
    </div>
    <div>
        <li class="flex gap-3">
            <ul>
                <a href="/about" class="text-white hover:text-blue-500">ABOUT US</a>
            </ul>
            <ul>
                <a href="/about" class="text-white hover:text-blue-500">SERVICES</a>
            </ul>
            <ul>
                <a href="/about" class="text-white hover:text-blue-500">CONTACT US</a>
            </ul>
        </li>
    </div>
</div>