---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';	
import { ClientRouter } from 'astro:transitions';
import { useTranslation } from '../i18n/ui';
import '@fontsource-variable/jetbrains-mono/index.css';

interface Props {
    lang: 'en' | 'es' | 'fr' | 'jp';
}

const { lang} = Astro.props;
const t = useTranslation(lang);

---

<!doctype html>
<html lang="en">
	<head>
		<title>Vanter</title>


		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/vanter-tech_logo.ico" />
		<link rel="icon" href="/vanter-tech_logo.ico" />
		<meta name="generator" content={Astro.generator} />
		
		<ClientRouter/>

		
	</head>
	<body class="bg-vanter-bg color-vanter-primary-text font-vanter-code min-h-screen ">
		<div>
			<Navbar lang={Astro.props.lang} />
			<slot /> <script src="../js/main.js"></script>
			<Footer lang={Astro.props.lang} />
		</div>
	</body>
</html>

