<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/vanter-tech_logo.ico" />
		<link rel="icon" href="/vanter-tech_logo.ico" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		<title>Vanter Tech</title>
	</head>
	<body class="bg-[#000000] text-white font-code min-h-screen">
		<div class="max-w-7xl mx-auto w-full px-4">
			<slot />
		</div>
	</body>
</html>

