---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';	

import { useTranslation } from '../i18n/ui';

interface Props {
    lang: 'en' | 'es' | 'fr' | 'jp';
}

const { lang } = Astro.props;
const t = useTranslation(lang);

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/vanter-tech_logo.ico" />
		<link rel="icon" href="/vanter-tech_logo.ico" />
		<meta name="generator" content={Astro.generator} />

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
		
		<script is:inline>

			const userLang = navigator.language || navigator.userLanguage;
			const currerntPath = window.location.pathname;

			if(userLang.startsWith('es') && currerntPath === '/') {
				window.location.pathname = '/es' + currerntPath;
			}

		</script>

		<title>Vanter</title>
	</head>
	<body class="bg-vanter-bg color-vanter-primary-text font-vanter-code min-h-screen ">
		<div>
			<Navbar lang={Astro.props.lang} />
			<slot /> <script src="../js/main.js"></script>
			<Footer lang={Astro.props.lang} />
		</div>
	</body>
</html>

